In [2]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)

In [48]:
train_df = pd.read_csv(
    './dataanalysis-classification2/train_classification.csv')
test_df = pd.read_csv(
    './dataanalysis-classification2/test_classification.csv')

## Data preprocessing

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Elevation                20000 non-null  int64
 1   Aspect                   20000 non-null  int64
 2   Slope                    20000 non-null  int64
 3   Hillshade_Morning        20000 non-null  int64
 4   Hillshade_Afternoon      20000 non-null  int64
 5   Hillshade_Evening        20000 non-null  int64
 6   Distance_To_River        20000 non-null  int64
 7   Distance_From_Road       20000 non-null  int64
 8   Distance_From_Pollutant  20000 non-null  int64
 9   Sector                   20000 non-null  object
 10  Soil                     20000 non-null  object
 11  Plant_species            20000 non-null  int64
dtypes: int64(10), object(2)
memory usage: 1.8+ MB

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Elevation                20000 non-null  int64
 1   Aspect                   20000 non-null  int64
 2   Slope                    20000 non-null  int64
 3   Hillshade_Morning        20000 non-null  int64
 4   Hillshade_Afternoon      20000 non-null  int64
 5   Hillshade_Evening        20000 non-null  int64
 6   Distance_To_River        20000 non-null  int64
 7   Distance_From_Road       20000 non-null  int64
 8   Distance_From_Pollutant  20000 non-null  int64
 9   Sector                   20000 non-null  object
 10  Soil                     20000 non-null  object
dtypes: int64(9), object(2)
memory usage: 1.7+ MB

'Sector', 'Soil' categorical data -> 정수값으로 변환, 나머지 attribute는 numerical data

In [49]:
train_df['Sector'] = train_df['Sector'].apply(lambda x: int(x.split('_')[1]))
train_df['Soil'] = train_df['Soil'].apply(lambda x: int(x.split('_')[1]))

In [50]:
test_df['Sector'] = test_df['Sector'].apply(lambda x: int(x.split('_')[1]))
test_df['Soil'] = test_df['Soil'].apply(lambda x: int(x.split('_')[1]))

In [9]:
train_df.columns.values

array(['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
       'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
       'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil',
       'Plant_species'], dtype=object)

Normalization -> 폐기!

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [52]:
train_df.head()

,Elevation,Aspect,Slope,Hillshade_Morning,Hillshade_Afternoon,Hillshade_Evening,Distance_To_River,Distance_From_Road,Distance_From_Pollutant,Sector,Soil,Plant_species
0,3251,35,10,219,218,134,30,3263,2837,2,36,1
1,3511,12,11,209,217,145,531,1385,1871,1,37,1
2,2335,63,20,233,194,83,234,1120,726,3,8,0
3,3244,48,14,224,209,116,67,1645,907,2,36,1
4,2242,292,34,108,211,233,95,808,684,3,8,3

In [53]:
train_df.describe()

,Elevation,Aspect,Slope,Hillshade_Morning,Hillshade_Afternoon,Hillshade_Evening,Distance_To_River,Distance_From_Road,Distance_From_Pollutant,Sector,Soil,Plant_species
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,2846.330450,164.425000,16.115950,207.794350,219.405600,141.962950,257.105050,1964.510950,1644.164900,1.681000,18.607400,2.001450
std,420.609276,115.912727,8.292722,31.302269,22.879737,42.419946,216.832461,1439.049031,1169.660515,1.092291,12.148928,1.411293
min,1859.000000,0.000000,0.000000,66.000000,92.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2473.000000,61.000000,10.000000,190.000000,208.000000,116.000000,90.000000,849.000000,787.000000,0.000000,8.000000,1.000000
50%,2901.000000,137.000000,15.000000,215.000000,223.000000,143.000000,210.000000,1539.000000,1344.000000,2.000000,20.000000,2.000000
75%,3228.000000,287.000000,21.000000,231.000000,236.000000,171.000000,361.000000,2814.500000,2215.000000,2.000000,29.000000,3.000000
max,3851.000000,360.000000,60.000000,254.000000,254.000000,250.000000,1361.000000,6963.000000,7050.000000,3.000000,37.000000,4.000000

In [54]:
scaler = MinMaxScaler()

for i in np.arange(11):
    train_df.iloc[:, i] = pd.DataFrame(
        scaler.fit_transform(pd.DataFrame(train_df.iloc[:, 0])))

In [55]:
train_df.head()

,Elevation,Aspect,Slope,Hillshade_Morning,Hillshade_Afternoon,Hillshade_Evening,Distance_To_River,Distance_From_Road,Distance_From_Pollutant,Sector,Soil,Plant_species
0,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,0.698795,1
1,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,0.829317,1
2,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0.238956,0
3,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,0.695281,1
4,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,0.192269,3

## 1. Decision tree

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [92]:
feature_col = ['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']
label_col = ['Plant_species']

X = train_df[feature_col]
y = train_df[label_col]

In [93]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=42)

In [94]:
decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)
y_pred = decision_tree.predict(X_test)

In [95]:
metrics.accuracy_score(y_test, y_pred)

0.8105

k-fold cross validation 도입

In [62]:
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [53]:
decision_tree = DecisionTreeClassifier(random_state=42)

kfold = KFold(n_splits=6, shuffle=True, random_state=42)
scores = cross_val_score(decision_tree , X_train , y_train ,cv=kfold)

np.round(np.mean(scores), 4)

0.8002

In [63]:
decision_tree = DecisionTreeClassifier(random_state=42)

skfold = StratifiedKFold(n_splits=6, shuffle=True, random_state=42)
scores = cross_val_score(decision_tree, X_train, y_train, cv=skfold)

np.round(np.mean(scores), 4)

0.8052

실제 검증 - Decision tree

In [88]:
X_train = train_df[['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                    'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                    'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']]
y_train = train_df[['Plant_species']]

X_test = test_df

decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

y_pred_df = pd.DataFrame()
y_pred_df['Id'] = np.arange(20000)
y_pred_df['Category'] = y_pred

y_pred_df.to_csv('DTree_norm.csv', index=False)

0.81370

실제 검증 - k-fold CV 적용된 Decision tree

In [ ]:
X_train = train_df[['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                    'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                    'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']]
y_train = train_df[['Plant_species']]

X_test = test_df

decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

y_pred_df = pd.DataFrame()
y_pred_df['Id'] = np.arange(20000)
y_pred_df['Category'] = y_pred

y_pred_df.to_csv('DTree.csv', index=False)

## 2. Naive bayes model

In [118]:
feature_col = ['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
               'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
               'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']
label_col = ['Plant_species']

X = train_df[feature_col]
y = train_df[label_col]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=42)

In [119]:
from sklearn.naive_bayes import GaussianNB

naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train)
y_pred = naive_bayes.predict(X_test)

/Users/kwontaekhyun/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [120]:
metrics.accuracy_score(y_test, y_pred)

0.6675

실제 검증 - Naive Bayes model

In [121]:
X_train = train_df[['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                    'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                    'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']]
y_train = train_df[['Plant_species']]

X_test = test_df

naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train)

y_pred = naive_bayes.predict(X_test)

y_pred_df = pd.DataFrame()
y_pred_df['Id'] = np.arange(20000)
y_pred_df['Category'] = y_pred

y_pred_df.to_csv('NB.csv', index=False)

/Users/kwontaekhyun/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 3. Random forest

In [1]:
import sklearn.preprocessing
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from category_encoders import OrdinalEncoder
from sklearn.pipeline import make_pipeline

In [2]:
train_df = pd.read_csv(
    './dataanalysis-classification2/train_classification.csv')
test_df = pd.read_csv(
    './dataanalysis-classification2/test_classification.csv')

In [5]:
train_df.head()

,Elevation,Aspect,Slope,Hillshade_Morning,Hillshade_Afternoon,Hillshade_Evening,Distance_To_River,Distance_From_Road,Distance_From_Pollutant,Sector,Soil,Plant_species
0,3251,35,10,219,218,134,30,3263,2837,Sector_2,Soil_36,1
1,3511,12,11,209,217,145,531,1385,1871,Sector_1,Soil_37,1
2,2335,63,20,233,194,83,234,1120,726,Sector_3,Soil_8,0
3,3244,48,14,224,209,116,67,1645,907,Sector_2,Soil_36,1
4,2242,292,34,108,211,233,95,808,684,Sector_3,Soil_8,3

In [3]:
train_df['Sector'] = train_df['Sector'].apply(lambda x: int(x.split('_')[1]))
train_df['Soil'] = train_df['Soil'].apply(lambda x: int(x.split('_')[1]))

test_df['Sector'] = test_df['Sector'].apply(lambda x: int(x.split('_')[1]))
test_df['Soil'] = test_df['Soil'].apply(lambda x: int(x.split('_')[1]))

In [26]:
X_train = train_df[['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                    'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                    'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']]
y_train = train_df[['Plant_species']]

X_test = test_df

random_forest = RandomForestClassifier(
    n_estimators=255, criterion='entropy', warm_start=True)
random_forest.fit(X_train, y_train)

y_pred = random_forest.predict(X_test)

y_pred_df = pd.DataFrame()
y_pred_df['Id'] = np.arange(20000)
y_pred_df['Category'] = y_pred

y_pred_df.to_csv('./CLF-Prediction/CLF_RF_E255_CE_WS.csv', index=False)

/var/folders/ln/5crzqg4144jgkv82ryrmmdz00000gn/T/ipykernel_45029/2181432339.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_forest.fit(X_train, y_train)

## 4. Neural network

In [1]:
import sklearn.preprocessing
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier

In [2]:
train_df = pd.read_csv(
    './dataanalysis-classification2/train_classification.csv')
test_df = pd.read_csv(
    './dataanalysis-classification2/test_classification.csv')

In [3]:
train_df['Sector'] = train_df['Sector'].apply(lambda x: int(x.split('_')[1]))
train_df['Soil'] = train_df['Soil'].apply(lambda x: int(x.split('_')[1]))

test_df['Sector'] = test_df['Sector'].apply(lambda x: int(x.split('_')[1]))
test_df['Soil'] = test_df['Soil'].apply(lambda x: int(x.split('_')[1]))

In [8]:
X_train = train_df[['Elevation', 'Aspect', 'Slope', 'Hillshade_Morning',
                    'Hillshade_Afternoon', 'Hillshade_Evening', 'Distance_To_River',
                    'Distance_From_Road', 'Distance_From_Pollutant', 'Sector', 'Soil']]
y_train = train_df[['Plant_species']]

X_test = test_df

MLP = MLPClassifier(hidden_layer_sizes=[10, 10, 100, 1000, 5000], solver='sgd')

MLP.fit(X_train, y_train)
y_pred = MLP.predict(X_test)

y_pred_df = pd.DataFrame()
y_pred_df['Id'] = np.arange(20000)
y_pred_df['Category'] = y_pred

y_pred_df.to_csv('./CLF-Prediction/MLP_H10_10_100_1000_5000.csv', index=False)

/Users/kwontaekhyun/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)